<h1>New Ski Shop Form</h1>

<%= form_with url:'/ski_shops', method: :post, local: true do |form| %>
<%= form.label :name, "Name:" %>
<%= form.text_field :name %>
<%= form.label :location_quantity, "Location Quantity:" %>
<%= form.text_field :location_quantity %>
<%= form.label :rents_clothes, "Rents Clothes?:" %>
<%= form.text_field :rents_clothes %>

<%= form.submit "Create Ski Shop"%>
<% end %>
