<h1><%= @ski_shop.name %></h2>
<p>Number of Locations: <%= @ski_shop.location_quantity %></p>
<p>Rents Clothes?: <%= @ski_shop.rents_clothes %></p>
<p>Ski Count: <%= @ski_count %></p>
<%= link_to "Ski Shop Skis", "/ski_shops/#{@ski_shop.id}/skis" %>