<h1>Skis Available<h1>

<% @skis.each do |ski| %>

  <h2><%= ski.year %> <%= ski.manufacturer %></h2>
  <p><%= ski.model %> <%= ski.fleet %></p>
  <p>Length (cm): <%= ski.length %></p>
  <p>Width (mm): <%= ski.width %></p>
  <p>Needs Tuned?: <%= ski.needs_tuned %></p>
  <p>Available at Ski Shop: <%= ski.ski_shop_id %></p>
<% end %>