<h1>Skis Available<h1>

<% @skis.each do |ski| %>

  <h2><%= ski.year %> <%= ski.manufacturer %></h2>
  <p><%= ski.model %> <%= ski.fleet %></p>
  <p>Length (cm): <%= ski.length %>
  <p>Width (cm): <%= ski.width %>
  <p>Needs Tuned?: <%= ski.needs_tuned %>
  <p>Available at Ski Shop: <%= ski.ski_shop_id %>
<% end %>